.app {
  font-family: Arial, sans-serif;
    width: 50%;
    margin: 0 auto;

}

.app-title {
  text-align: center;
}

.app-content {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.app-heading{
  background-color: darkslategrey;
  color: white;
  text-align: center;
}